<template>
  <div v-if="people.length > 0">
    <v-container class="mb-4 mt-8" grid-list-m v-if="favoritePeople.length > 0">
      <p class="display-1 text-center">
        Favorite Characters
      </p>
      <v-layout wrap justify-center>
        <CharacterCard :id="person_id"
                           v-for="person_id in favoritePeople"
                           :key="`favorite-${person_id}`" />
      </v-layout>
    </v-container>

    <v-container class="mt-8 characters-list" grid-list-m v-if="notfavoritePeople.length > 0">
      <p class="display-1 text-center">
        {{ notfavoritePeopleTitle }}
      </p>
      <v-layout wrap justify-center>
        <CharacterCard :id="person_id"
                           v-for="person_id in notfavoritePeople"
                           :key="person_id" />
      </v-layout>

      <v-layout justify-center class="mt-3">
        <v-progress-circular indeterminate v-if="loading_more"></v-progress-circular>
        <div v-if="!moreAvailable('people')"
                class="font-weight-bold text-uppercase grey--text text--lighten-1 .listend-notice">
          End of List
        </div>
      </v-layout>

    </v-container>
  </div>
  <v-container fill-height v-else>
    <v-layout align-center text-center>
      <v-flex>
        <v-progress-circular indeterminate></v-progress-circular>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import { mapGetters } from 'vuex';
import differenceWith from 'lodash.differencewith';
import CharacterCard from '../components/CharacterCard.vue';

export default {
  name: 'CharacterList',
  components: {
    CharacterCard,
  },
  data() {
    return {
      loading_more: false,
      not_found: false,
    };
  },
  mounted() {
    if (this.ltOnePage('people')) {
      this.fetchMorePeople();
    }

    window.addEventListener('scroll', this.infiniteScroll);
  },
  updated() {
    if (this.ltOnePage('people')) {
      this.fetchMorePeople();
    }

    window.addEventListener('scroll', this.infiniteScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.infiniteScroll);
  },
  computed: {
    ...mapGetters([
      'idsList',
      'moreAvailable',
      'emptyList',
      'ltOnePage',
    ]),

    people() {
      return this.idsList('people');
    },

    favoritePeople() {
      return this.$store.state.favorite_people_ids;
    },

    notfavoritePeople() {
      return differenceWith(this.people, this.favoritePeople);
    },

    notfavoritePeopleTitle() {
      if (this.favoritePeople.length > 0) {
        return 'Other Characters';
      }

      return 'All Characters';
    },
  },
  methods: {
    fetchMorePeople() {
      if (this.moreAvailable('people') && !this.loading_more) {
        this.loading_more = true;

        this.$store.dispatch('fetchPage', 'people')
          .then(() => {
            this.loading_more = false;
          })
          .catch(() => {
            this.loading_more = false;
            this.not_found = true;
          });
      }
    },

    infiniteScroll() {
      const atPageEnd = document.documentElement.scrollTop + window.innerHeight
        >= document.documentElement.offsetHeight - 100;

      if (atPageEnd && !this.loading_more) {
        this.fetchMorePeople();
      }
    },
  },
};
</script>
