<template>
  <v-layout v-if="not_found"
       class="font-weight-bold text-uppercase grey--text mt-4"
       justify-center >
    Person not found
  </v-layout>
  <v-layout justify-center class="mt-4" v-else-if="person === undefined || loading">
    <v-progress-circular indeterminate  />
  </v-layout>
  <div v-else>
    <div>
      <v-layout justify-center class="py-8 character-headline">
        <Avatar :username="person.name"
                :size="100"
                :rounded="false"
                color="lightgrey"
                class="mr-6" />
        <div class="ml-6">
          <p class="display-3 font-weight-bold">{{ person.name }}</p>
          <div class="text-right grey--text subtitle-2 mt-3" v-if="person.birth_year !== 'unknown'">
            Born {{ person.birth_year }}
          </div>
        </div>
      </v-layout>

      <v-container class="grey lighten-2 py-8 mb-10 mx-0" fluid>
        <v-layout justify-center>
          <SpeciesTag  :id="species_id"
                         v-for="species_id in person.species_ids"
                         :key="`species-${species_id}`"
                         class="mx-4"/>
           <HomeworldTag :id="person.homeworld_id" />
           <BaseAttributesTag :attributes="personAttributes" />
        </v-layout>
      </v-container>
    </div>

    <v-container grid-list-m class="mb-10 vehicles-list" v-if="person.vehicle_ids.length > 0">
      <p class="display-2 text-center mb-3">Vehicles</p>
      <v-layout wrap justify-center>
        <VehicleCard :id="vehicle_id"
                         v-for="vehicle_id in person.vehicle_ids"
                         :key="`vehicle-${vehicle_id}`" />
      </v-layout>
    </v-container>

    <v-container grid-list-m class="mb-10 starships-list" v-if="person.starship_ids.length > 0">
      <p class="display-2 text-center mb-3">Starships</p>
      <v-layout wrap justify-center>
        <StarshipCard :id="starship_id"
                          v-for="starship_id in person.starship_ids"
                          :key="`starship-${starship_id}`" />
      </v-layout>
    </v-container>

    <v-container grid-list-m class="mb-10 films-list" v-if="person.film_ids.length > 0">
      <p class="display-2 text-center mb-3">Appears In</p>
      <v-layout wrap justify-center>
          <FilmCard :id="film_id"
                        v-for="film_id in filmsOrdered"
                        :key="`film-${film_id}`"
                        class="mx-2 my-2"/>
      </v-layout>
    </v-container>
  </div>
</template>


<script>
import Avatar from 'vue-avatar';
import BaseAttributesTag from '../components/BaseAttributesTag.vue';
import FilmCard from '../components/FilmCard.vue';
import VehicleCard from '../components/VehicleCard.vue';
import StarshipCard from '../components/StarshipCard.vue';
import HomeworldTag from '../components/HomeworldTag.vue';
import SpeciesTag from '../components/SpeciesTag.vue';
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';

export default {
  name: 'CharacterProfile',
  mixins: [LazyLoadItemMixin],
  components: {
    Avatar,
    BaseAttributesTag,
    FilmCard,
    VehicleCard,
    StarshipCard,
    HomeworldTag,
    SpeciesTag,
  },
  data() {
    return {
      resource: 'people',
    };
  },
  computed: {
    person() {
      return this.item;
    },
    filmsOrdered() {
      return [...this.person.film_ids].sort(
        (id1, id2) => parseInt(String, id1) - parseInt(String, id2)
      );
    },
    personAttributes() {
      return [
        {
          title: 'Gender',
          value: this.person.gender,
        },
        {
          title: 'Height',
          value: this.person.height,
          unit: 'in',
        },
        {
          title: 'Mass',
          value: this.person.mass,
        },
        {
          title: 'Hair Color',
          value: this.person.hair_color,
        },
        {
          title: 'Eye Color',
          value: this.person.eye_color,
        },
        {
          title: 'Skin Color',
          value: this.person.skin_color,
        },
      ];
    },
  },
};
</script>


<style lang="sass" scoped>
.color-block
  width: 15px
  height: 15px
  display: inline-block
  border-radius: 100%
</style>
