<template>
  <v-list-item v-if="valueKnown" class="text-center">
    <v-list-item-content>
      <v-list-item-title>
        {{ title }}
      </v-list-item-title>
      <v-list-item-subtitle>
        <span class="text-capitalize">{{ value }}</span>
        <span v-if="unit"> {{ unit }}</span>
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
  <span v-else></span>
</template>


<script>
export default {
  name: 'BaseAttribute',
  props: {
    title: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    unit: {
      type: String,
      required: false,
    },
  },
  computed: {
    valueKnown() {
      return !['undefined', 'unknown', 'none', 'n/a'].includes(this.value);
    },
  },
};
</script>
