<template>
  <v-app-bar app>
    <v-toolbar-title class="link" @click="routeToHome">
      <div class="d-flex">
      <span>
        <img class="logo" :src="logo" />
      </span>
      <span class="headline text-uppercase font-weight-light ml-2 my-auto">DATA EXPLORER</span>
      </div>
    </v-toolbar-title>
    <v-spacer></v-spacer>
  </v-app-bar>
</template>


<script>
import starWarsLogo from '../assets/Star_wars_1977_us.svg';

export default {
  name: 'BaseHeader',
  methods: {
    routeToHome() {
      if (this.$route.name !== 'home') {
        this.$router.push({ name: 'home' });
      }
    },
  },
  computed: {
    logo() {
      return starWarsLogo;
    }
  }
};
</script>


<style lang="sass" scoped>
.link
  cursor: pointer

.logo
  height: 50px
  align-items: center
  margin-top: 5px
</style>
