<template>
  <v-card class="mx-4 attributes-tag" min-width="250" flat>
    <v-card-text class="mb-0 pb-0" >
      <p class="overline mb-0">
        Attributes
      </p>
    </v-card-text>
    <v-layout>
      <v-list v-for="chunk_i in attributeChunks.length" :key="chunk_i">
        <BaseAttribute v-for="i in attributeChunks[chunk_i-1].length"
                       :key="`attribute-${i-1}`"
                       :title="attributeChunks[chunk_i-1][i-1].title"
                       :value="attributeChunks[chunk_i-1][i-1].value"
                       :unit="attributeChunks[chunk_i-1][i-1].unit" />
      </v-list>
    </v-layout>
  </v-card>
</template>


<script>
import chunk from 'lodash.chunk';
import BaseAttribute from './BaseAttribute.vue';

export default {
  name: 'BaseAttributesTag',
  components: {
    BaseAttribute,
  },
  props: {
    attributes: {
      type: Array,
      required: true,
      validator(attributes) {
        return attributes.every(
          attribute => 'title' in attribute && 'value' in attribute,
        );
      },
    },
    chunkSize: {
      type: Number,
      default: 3,
      validator(chunkSize) {
        return chunkSize > 0;
      },
    },
  },
  computed: {
    attributeChunks() {
      return chunk(this.attributes, this.chunkSize);
    },
  },
};
</script>
