<template>
    <v-card class="ma-3 character-li"
            :class="{'character-li--focused': focused}"
            width="350"
            >
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1 person-name">{{ person.name }}</v-list-item-title>
          <v-list-item-subtitle> {{ filmsCount }} Films</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-avatar tile size="80" >
          <Avatar :username="person.name"
                  :size="80"
                  :rounded="false"
                  color="lightgrey" />
        </v-list-item-avatar>
      </v-list-item>
      <v-card-actions>
        <v-btn icon class="info-button">
          <v-icon light @click="routeToCharacter">mdi-information-outline</v-icon>
        </v-btn>
        <div class="flex-grow-1"></div>
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn icon>
              <v-icon @click="toggleFavorite"
                      :color="isFavorite ? 'red' : 'grey'"
                       v-on="on">
                mdi-heart</v-icon>
            </v-btn>
          </template>
          <span>{{ isFavorite ? 'Remove Favorite' : 'Add Favorite' }}</span>
        </v-tooltip>
      </v-card-actions>
    </v-card>
</template>


<script>
import Avatar from 'vue-avatar';
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';
import FavoriteMixin from '../mixins/FavoriteMixin';

export default {
  name: 'CharacterCard',
  mixins: [LazyLoadItemMixin, FavoriteMixin],
  components: {
    Avatar,
  },
  data() {
    return {
      focused: false,
      resource: 'people',
    };
  },
  computed: {
    person() {
      return this.item;
    },
    filmsCount() {
      return this.person.films.length;
    },
  },
  methods: {
    routeToCharacter() {
      this.$router.push({ name: 'character', params: { id: this.id } });
    },
  },
};
</script>


<style lang="sass" scoped>

</style>
