<template>
  <v-card min-width="350" v-if="film" class="film-li">
    <v-card-text>
      <v-layout justify-space-between>
        <p class="headline text--primary">
          {{ film.title }}
        </p>
        <p>
          {{ releaseYear }}
        </p>
      </v-layout>

      <v-layout justify-space-between>
        <p class="mb-0">
          Episode {{ film.episode_id }}
        </p>
        <p class="mb-0">
          Directed by {{ film.director }}
        </p>
      </v-layout>
    </v-card-text>
  </v-card>
  <div class="placeholder mx-4" v-else-if="not_found">
    Not Found
  </div>
  <div class="placeholder placeholder--loading mx-4" v-else>
  </div>
</template>


<script>
import { parse } from 'date-fns';
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';

export default {
  name: 'FilmCard',
  mixins: [LazyLoadItemMixin],
  data() {
    return {
      resource: 'films',
    };
  },
  computed: {
    film() {
      return this.item;
    },
    releaseYear() {
      return parse(this.film.release_date, 'yyyy-MM-dd', new Date()).getFullYear();
    },
  },
};
</script>
