<template>
  <v-card min-width="250" class="mx-4 homeworld-tag" flat v-if="planet">
    <v-card-text class="text-capitalize">
      <p class="overline mb-2">
        Home Planet
      </p>
      <p class="headline text--primary mb-6">
        {{ planet.name }}
      </p>
      <p>
        <b>Climate: </b>{{ planet.climate }}
      </p>
      <p>
        <b>Terrain: </b>{{ planet.terrain }}
      </p>
      <p class="mb-0">
        <b>Gravity: </b>{{ planet.gravity }}
      </p>
    </v-card-text>
  </v-card>
  <div class="placeholder mx-4" v-else-if="not_found">
    Not Found
  </div>
  <div class="placeholder placeholder--loading mx-4" v-else>
  </div>
</template>


<script>
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';

export default {
  name: 'HomeworldTag',
  mixins: [LazyLoadItemMixin],
  components: {},
  data() {
    return {
      resource: 'planets',
    };
  },
  computed: {
    planet() {
      return this.item;
    },
  },
};
</script>
