<template>
  <v-card min-width="250" class="mx-4 text-capitalize species-tag" flat v-if="species">
    <v-card-text >
      <p class="overline mb-2">
        Species
      </p>
      <p class="headline text--primary mb-6">
        {{ species.name }}
      </p>
      <p>
        <b>Classification: </b>{{ species.classification }}
      </p>
      <p>
        <b>Designation: </b>{{ species.designation }}
      </p>
      <p class="mb-0">
        <b>Average Lifespan: </b>{{ species.average_lifespan }} years
      </p>
    </v-card-text>
  </v-card>
  <div class="placeholder mx-4" v-else-if="not_found">
    Not Found
  </div>
  <div class="placeholder placeholder--loading mx-4" v-else>
  </div>
</template>


<script>
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';

export default {
  name: 'SpeciesTag',
  mixins: [LazyLoadItemMixin],
  data() {
    return {
      resource: 'species',
    };
  },
  computed: {
    species() {
      return this.item;
    },
  },
};
</script>
