<template>
  <v-card width="350" class="text-capitalize ma-2 starship-li" v-if="starship">
    <v-card-text>
      <v-layout justify-space-between>
        <p class="overline mb-2">
          {{ starship.starship_class }}
        </p>
        <p class="overline mb-2 text-end">
          {{ starship.hyperdrive_rating }} Hyperdrive
        </p>
      </v-layout>

      <p class="headline text--primary mb-0">
        {{ starship.name }}
      </p>
      <p class="font-weight-medium subtitle-1">
        {{ starship.manufacturer }}
      </p>
      <p>
        <b>Length: </b>{{ starship.length }} Meters
      </p>
      <p>
        <b>Capacity: </b>{{ starshipCapacity }}
      </p>
      <p>
        <b>Consumables: </b>{{ starship.consumables }}
      </p>
      <p v-if="starship.MGLT !== 'unknown'">
        <b>MGLT: </b>{{ starship.MGLT }}
      </p>

      <v-layout justify-space-between >
        <div>
          <b>Max Speed: </b>{{ commaNumber(starship.max_atmosphering_speed) }}
        </div>
        <div v-if="starship.cost_in_credits !== 'unknown'">
          <b>₹{{ commaNumber(starship.cost_in_credits) }}</b>
        </div>
      </v-layout>
    </v-card-text>
  </v-card>
  <div class="placeholder mx-4" v-else-if="not_found">
    Not Found
  </div>
  <div class="placeholder placeholder--loading mx-4" v-else>
  </div>
</template>


<script>
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';

export default {
  name: 'StarshipCard',
  mixins: [LazyLoadItemMixin],
  components: {},
  data() {
    return {
      resource: 'starships',
    };
  },
  computed: {
    starship() {
      return this.item;
    },
    starshipCapacity() {
      const capacity = [];

      if (this.starship.crew !== 'unknown' && this.starship.crew !== '0') {
        capacity.push(`${this.starship.crew} crew`);
      }

      if (this.starship.passengers !== 'unknown' && this.starship.passengers !== '0') {
        let passengerString = `${this.commaNumber(this.starship.passengers)} passenger`;

        if (this.starship.passengers > 1) {
          passengerString += 's';
        }
        capacity.push(passengerString);
      }

      if (this.starship.cargo_capacity !== 'unknown' && this.starship.cargo_capacity !== '0') {
        capacity.push(`${this.commaNumber(this.starship.cargo_capacity)} cargo`);
      }

      return capacity.join(', ');
    },
  },
  methods: {
    commaNumber(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    },
  },
};
</script>


<style lang="sass" scoped>

</style>
