<template>
  <v-card width="350" class="text-capitalize ma-2 vehicle-li" v-if="vehicle">
    <v-card-text>
      <p class="overline mb-2">
        {{ vehicle.vehicle_class }}
      </p>
      <p class="headline text--primary mb-0">
        {{ vehicle.name }}
      </p>
      <p class="font-weight-medium subtitle-1">
        {{ vehicle.manufacturer }}
      </p>
      <p>
        <b>Length: </b>{{ vehicle.length }} Meters
      </p>
      <p>
        <b>Capacity: </b>{{ vehicleCapacity }}
      </p>


      <v-layout justify-space-between>
        <div>
          <b>Max Speed: </b>{{ vehicle.max_atmosphering_speed }}
        </div>
        <div v-if="vehicle.cost_in_credits !== 'unknown'">
          <b>₹{{ vehicle.cost_in_credits }}</b>
        </div>
      </v-layout>
    </v-card-text>
  </v-card>
  <div class="placeholder mx-4" v-else-if="not_found">
    Not Found
  </div>
  <div class="placeholder placeholder--loading mx-4" v-else>
  </div>
</template>


<script>
import LazyLoadItemMixin from '../mixins/LazyLoadItemMixin';

export default {
  name: 'VehicleCard',
  mixins: [LazyLoadItemMixin],
  data() {
    return {
      resource: 'vehicles',
    };
  },
  computed: {
    vehicle() {
      return this.item;
    },
    vehicleCapacity() {
      const capacity = [];

      if (this.vehicle.crew !== 'unknown') {
        capacity.push(`${this.vehicle.crew} crew`);
      }

      if (this.vehicle.passengers !== 'unknown') {
        let passengerString = `${this.vehicle.passengers} passenger`;

        if (this.vehicle.passengers > 1) {
          passengerString += 's';
        }
        capacity.push(passengerString);
      }

      if (this.vehicle.cargo_capacity !== 'unknown') {
        capacity.push(`${this.vehicle.cargo_capacity} cargo`);
      }

      return capacity.join(', ');
    },
  },
};
</script>
