<template>
  <v-app>
    <BaseHeader />
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import BaseHeader from './components/BaseHeader.vue';

export default {
  name: 'App',
  components: {
    BaseHeader,
  },
  data: () => ({
    //
  }),
};
</script>

<style lang="sass">
.placeholder
  width: 250px
  min-height: 200px

  &--loading
    display: inline-block
    background-color: #DDDBDD
    position: relative
    overflow: hidden
    vertical-align: middle

    &::after
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      transform: translateX(-100%)
      background-image: linear-gradient(90deg,rgba(#fff, 0) 0,rgba(#fff, 0.2) 20%,rgba(#fff, 0.5) 60%,rgba(#fff, 0))
      animation: shimmer 1s infinite
      content: ''

@keyframes shimmer
  100%
    transform: translateX(100%)

</style>
